<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Miniwarenkorb rechtssicher</label>

        <version>1.0.6</version>
	<link>https://github.com/marcmanusch</link>
	<author>Marc Manusch</author>
	<compatibility minVersion="5.2.0" />
        
    <changelog version="1.1.0">
        <changes lang="de">Added Shipping calculation</changes>
    </changelog>
        
    <changelog version="1.0.6">
        <changes lang="de">Added Text</changes>
    </changelog>
        
    <changelog version="1.0.5">
        <changes lang="de">Changed the order</changes>
    </changelog>
        
    <changelog version="1.0.4">
        <changes lang="de">Fixed some stuff</changes>
    </changelog>
        
    <changelog version="1.0.3">
        <changes lang="de">Check if user is logged in</changes>
    </changelog>
        
    <changelog version="1.0.2">
        <changes lang="de">Added snippets</changes>
    </changelog>
        
    <changelog version="1.0.1">
        <changes lang="de">Added better tax handling for different taxes</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Release</changes>
    </changelog>
</plugin>
