<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/config.xsd">
	<elements>

		<element type="boolean">
			<name>paulShowShipping</name>
			<label lang="de">Zeige Versandkalkulation:</label>
		</element>
	</elements>
</config>
